# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

node_modules
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Pycharm config

# Local History for Visual Studio Code
.history/
.history

# Environments
.env
.env.dev
.env.stag
.env.fullstack
.env.bak
.env.local
.env.*.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac DS_Store files
.DS_Store
**/.DS_Store
